#!/bin/sh

username={{ vncuser }}
password={{ vncpass }}

mkdir /home/$username/.vnc
echo -n ${password} | vncpasswd -f > /home/${username}/.vnc/passwd
chown -R ${username}:${username} /home/${username}/.vnc
